<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <script>
        function submitForm(button) {
            const form = document.getElementById('purchaseForm');
            form.userId.value = document.getElementById('userSelect').value;
            form.productName.value = button.getAttribute('data-name');
            form.productPrice.value = button.getAttribute('data-price');
            form.submit();
        }

    </script>
</head>
<body>
<h1>상품 정보</h1>
<label for="userSelect">사용자 선택:</label>
<select id="userSelect">
    <option th:each="user : ${users.entrySet()}" th:value="${user.key}" th:text="${user.value.userName}"></option>
</select>
<div>
    <ul>
        <li th:each="entry : ${products.entrySet()}">
            Name: <span th:text="${entry.key}"></span>,
            Price: <span th:text="${entry.value}"></span>
            <button type="button"
                    th:data-name="${entry.key}"
                    th:data-price="${entry.value}"
                    onclick="submitForm(this)">Purchase</button>
        </li>
    </ul>
</div>
<form id="purchaseForm" action="/purchase" method="post" style="display:none;">
    <input type="hidden" name="userId" />
    <input type="hidden" name="productName" />
    <input type="hidden" name="productPrice" />
</form>
</body>
</html>